{% extends "profile.html" %}
{% block title %}Profile{% endblock title %}
{% block profile %}
<!-- profile overview start -->
<div class="tab-pane fade show active profile-overview" id="profile-overview">
    <h5 class="card-title">About</h5>
    <p class="small fst-italic">{% if profile.description %} {{profile.description}}{% else %}{% lorem 1 b random %}{% endif %}</p>
    <h5 class="card-title">Profile Details</h5>
    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Full Name</div>
        <div class="col-lg-9 col-md-8">{{profile.name}}</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Country</div>
        <div class="col-lg-9 col-md-8">TEST COUNTRY</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Address</div>
        <div class="col-lg-9 col-md-8">TEST ADDRESS</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">Phone</div>
        <div class="col-lg-9 col-md-8">TEST NUMBER</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label ">TEST</div>
        <div class="col-lg-9 col-md-8">TESTS WILL BE ADDED LATER</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">Email</div>
        <div class="col-lg-9 col-md-8">{{profile.user.email}}</div>
    </div>
</div>
<!-- profile overview end -->
{% endblock profile %}